div {
  width: 200px;
  height: 200px;
  border: 5px solid black;
  padding: 50px
}

#first-div {
  background-color: #39cccc;
}

#second-div {
  background-color: #ff4136;
  box-sizing: border-box;
}

.min-height {
  min-height: 10px
}

p {
  background-color: #7fdbff;
}

.image-1-container img {
  width: 200px;
  height: 600px;
  background: yellow;
}