<ul id="gear-dropdown" class="gear-dropdown hidden">
	<li>
		<ul class="editions">
			<span class="dropdown-subtitle">Edition</span>
			<div class="underline"><li><a href="#">CSS</a></li></div>
			<div class="underline"><li><a href="#">HTML</a></li></div>
			<div class="underline"><li><a href="#">Javascript</a></li></div>
			<div class="underline"><li><a href="#">Ruby</a></li></div>
		</ul>
	</li>
		<hr>
	<li>
		<span class="dropdown-subtitle">Help</span>
		<ul class="help">
			<div class="underline"><li><a href="#">FAQ</a></li></div>
			<div class="underline"><li><a href="#">Contact Us</a></li></div>
		</ul>
	</li>
</ul>